<link rel="stylesheet" type="text/css" href="article.css">

<div class="container">
<h1>글 수정</h1>

<%= render 'form' %>

<%= link_to '글보기', [@board, @article] %> |
<%= link_to '목록', articles_path %>
</div>
