<!--일반사용자 회원가입-->
<style>
  button {
    width: 10px;
  }
</style>


<!--일단 꾸미는건 나중에-->
<div class="signup_body">
  <div class="signupbox">
    <img src="/assets/my.png" class="avatar">
    <h1>사용자 회원가입</h1>
    
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
    
      <div class="form-inputs">
        <p>아이디</p>
        <input type="text", autofocus="true", id="user_email", name="user[email]", placeholder='아이디를 입력하세요.'><br>
        <p>비밀번호</p>
        <input type="password" name="user[password]" placeholder="비밀번호를 입력하세요.">
        <p>비밀번호 확인</p>
        <input type="password" name="user[password_confirmation]" placeholder="비밀번호를 다시 입력해주세요.">
        <p>이름</p>
        <input type="text" name="user[name]" placeholder="이름을 입력하세요.">
        <p>메일</p>
        <input type="email" name="user[mail" placeholder="메일을 입력하세요.">
        <p>전화번호</p>
        <input type="text" name="user[phone_number]" placeholder="핸드폰 번호를 입력하세요.">
        
     
         
        <!-- 검색 기능을 표시할 <div>를 생성한다 -->
        <!--<div id="postcodify"></div>-->
        
        <!-- 주하고 적당한 name과 id를 부여한다 -->
        <input type="text" name="user[postcode]" id="소와 우편번호를 입력할 <input>들을 생성postcode" value="" /><br />
        <input type="text" name="user[address]" id="address" value="" /><br />
        <input type="text" name="user[details]" id="details" value="" /><br />
        <input type="text" name="user[extra_info]" id="extra_info" value="" /><br />
  
  
        <!--완료 버튼-->
        <input type="submit" name="user[submit]" value="완료">
        <!-- jQuery와 Postcodify를 로딩한다 -->

        <!--<div id="postcodify"></div>-->
        
        <!-- 위에서 생성한 <div>에 검색 기능을 표시하고, 결과를 입력할 <input>들과 연동한다 -->
        <!--<script>-->
        <!--    $(function() { $("#postcodify").postcodify({-->
        <!--        insertPostcode5 : "#postcode",-->
        <!--        insertAddress : "#address",-->
        <!--        insertDetails : "#details",-->
        <!--        insertExtraInfo : "#extra_info",-->
        <!--        hideOldAddresses : false-->
        <!--    }); });-->
        <!--</script>-->
    
      </div>
    <% end %>
    <div id="postcodify"></div>
        
        <!-- 위에서 생성한 <div>에 검색 기능을 표시하고, 결과를 입력할 <input>들과 연동한다 -->
        <script>
            $(function() { $("#postcodify").postcodify({
                insertPostcode5 : "#postcode",
                insertAddress : "#address",
                insertDetails : "#details",
                insertExtraInfo : "#extra_info",
                hideOldAddresses : false
            }); });
        </script>
  </div>
</div>
   