<div class="signup_body">
  <div class="signupbox">
    <img src="/assets/my.png" class="avatar">
    <h1>사업자 회원가입</h1>
    
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
    
      <div class="form-inputs">
        <p>아이디</p>
        <input type="text", autofocus="true", id="user_email", name="user[email]", placeholder='아이디를 입력하세요.'><br>
        <p>비밀번호</p>
        <input type="password" name="user[password]" placeholder="비밀번호를 입력하세요.">
        <p>비밀번호 확인</p>
        <input type="password" name="user[password_confirmation]" placeholder="비밀번호를 다시 입력해주세요.">
        <p>이름</p>
        <input type="text" name="user[name]" placeholder="이름을 입력하세요.">
        <p>메일</p>
        <input type="email" name="user[mail" placeholder="메일을 입력하세요.">
        <p>전화번호</p>
        <input type="text" name="user[phone_number]" placeholder="핸드폰 번호를 입력하세요.">
        <p>사업자 번호</p>
        <input type="text" name="user[business_number]" placeholder="사업자 번호를 입력하세요.">
    
         

      </div>
      
      
    

    <% end %>
  </div>
</div>
   
  
  