<div class="container">
    <div class="container">
        <div class="container">
            <div><a href="/users/register">일반사용자 회원가입</a></div>
            <div><a href="/users/seller_new">수공업자 회원가입</a></div>
        </div>
    </div>
</div>
