<div class=".choicebox_body">
    <div class="choicebox">
        <a href="/users/register"><button>일반사용자 회원가입</button></a>
        <a href="/users/seller_new"><button>수공업자 회원가입</button></a>
    </div>
</div>
