<link rel="stylesheet" type="text/css" href="registration_new.css">
<div class="registration_new">
    <div>

        <h1>회원가입 선택</h1>
        <a href="/users/register"><button class="button gallery_button">일반사용자 회원가입</button></a><br>
        <a href="/users/seller_new"><button class="button gallery_button">수공업자 회원가입</button></a>
    </div>
</div>