
<div class="login_body">
  <div class="loginbox">
    
  <img src="/assets/my.png" class="avatar">
    <h1>Login Here</h1>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <P>User ID</P>
        <input type="text" name="user[email]" required="false">
        <p>Password</p>
        <input type="password" name="user[password]" required="false">
      </div>
    
      <div class="form-actions">
        <%= f.button :submit, "로그인" %>
        <a her="#"><button> 회원가입 </button></a> 
      </div>
      
      <a href="#">Lost your password?</a><br>
    <% end %>
  </div>


</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>

