<!--order 뷰-->
<!--주문제작을 의뢰하는 페이지-->

<nav>
	<div class="navigation">
		<div class="logo">
			<img src="/assets/logo.png" height="70">
		</div>
		<div class="top_button">
			<a href="/"> <img src="/assets/판매제품.png" height="30" style="padding-left: 0px;"></a>
			<a href="/posts/order"><img src="/assets/주문제작_bar.png" height="30" style="padding-left: 40px;"></a>
			<a href="/posts/maker"><img src="/assets/수공업자.png" height="30" style="padding-left: 40px;"></a>
		</div>
		<div class="nav_user">
      		<a href="#"><span style="border-right: 2px solid black; padding-right: 10px;">LOGIN</span></a>
      		<a href="#"><span style="padding-left: 5px;">SIGN UP</span></a>
		</div>
	</div>
</nav>
<header>
	<h1>header</h1>
</header>
<section>
	<h1>section</h1>
</section>
<footer>
	<h1>footer</h1>
</footer>