<!--회원가입 분류-->
<div class="registers_classfy">
    <div id="regi_main"><a href="/users/register">일반사용자 회원가입</a></div>
    <div id="regi_main"><a href="/users/seller_new">수공업자 회원가입</a></div>
</div>

<!--테스트용-->
<div><a href="/users/register">일반사용자 회원가입</a></div>
<div><a href="/users/seller_new">수공업자 회원가입</a></div>