

/*navigation bar*/

nav{
	width: 100%;
	height: 76px;
	position: fixed; /*이건 왜 한건가융*/
	background-color: white;
	margin-top: 0px;
	z-index: 1;
}

.logo{
    /*padding-bottom: 5px;*/
    /*padding-top: 5px;*/
    padding-left: 40px;
}

.navigation{
	/*padding-top: 10px;*/
	/*padding-left: 30px;*/
	padding-bottom: 1px;
	border-bottom: 1px solid black;
	display:grid;
	grid-template-columns: 1fr 5fr 1fr;
}

.top_button{
	padding-top: 20px;
	/*padding-left: 10px;*/
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/*padding-left: 37rem;*/ /*메뉴가 너무 내려와서 바디가 안보여서 주석햇어염><*/
	/*padding-right: 37rem;*/
	font-size: 25px;
}

.top_button a:link { color: black; text-decoration: none;}
.top_button a:visited { color: black; text-decoration: none;}
.top_button a:hover { color: black; text-decoration: overline; }


.nav_user{
	padding-top: 23px;
	color: black;
	font-size: 15px;
}
/*링크 밑줄 제거*/
.nav_user a:link { color: black; text-decoration: none;}
.nav_user a:visited { color: black; text-decoration: none;}
.nav_user a:hover { color: black; text-decoration: underline;}


/*카테고리*/
.catagory{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 77px;
    border-bottom: 1px solid black;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.cata_button{
    margin-top: 7px;
}


header{

    width: 100%;
    height: 1070px;
    /*background-color: rgb(255, 30, 20);*/
    /*border-bottom: 2px solid black;*/
    /*border-top: 2px solid rgb(255, 0, 0);*/
    
    display:grid;
    grid-template-columns: 1fr 6.5fr 1fr;
/*    margin-bottom: 2px;*/
    padding-top: 142px;
    
}

/*.header_center{*/
        /*border-bottom: 2px solid black;*/
/*}*/

/*사이드 메뉴*/
.dorpdown{
    text-align: center;
    padding-top: 600px;
}
/*section*/

section{
    width: 100%;
    height: 80px;
    display:grid;
    grid-template-columns: 1fr 6.5fr 1fr;
    margin-top: 60px;
}

/*._left{*/
    /*border-right: 1px solid black;*/
/*}*/
/*._right{*/
    /*border-left: 1px solid black;*/
/*}*/

.sec_center{
    height: 80px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

#cen_left, #cen_right{
    margin-top: 40px;
    border-top: 3px solid black;
}

#cen_cen{
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}

/*index 상품이미지가 올라가는 부분*/

.section_2{
    width: 100%;
    height: 2000px;
    display:grid;
    grid-template-columns: 1fr 6.5fr 1fr;
    margin-top: 60px;
}

.section_2_cen{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    
}

#on_display{
    padding: 25px;
    height: 450px;
    width: 345px;
    text-align: center;
}

#on_display p{
    text-align: left;
    margin-top: 15px;
    padding-left: 25px;
    font-size: 23px;
}



/*body의 yield부분*/
.bodyyield{
    min-height: 900px; 
}

/*footerbar 위*/
.over_footer{
    border-top: 1px solid rgb(200, 200, 200);
    height: 100px;
    
}
#foot_content{
    padding: 25px 1000px 0px 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

/*footer*/
footer{
    width: 100%;
    height: 130px;
    background-color: rgb(230, 230, 230);
    padding-left: 50px;
    padding-top: 25px;
    text-align: center;
    
}
