<h1>Mypage#mypage</h1>
<p>Find me in app/views/mypage/mypage.html.erb</p>
<aside class="my-info">
    <div class="profile-area">
        <div class="outline">
            사진
        </div>
        <div class="area-txt">이름</div>
    </div>
    <div class="my-menu">
        <em>MY MENU</em>
        <nav>
            
        </nav>
    </div>
</aside>