<div class="over_footer">
    <div style="margin-top: 20px; border-top: 1px solid rgb(200, 200, 200);"></div>
    <div id="foot_content">
        <p>공지사항</p>
        <p>고객센터</p>
        <p>1:1 문의</p>
    </div>
</div>
<footer>
    <div>
        <p style="margin: 7px;">멋쟁이 사자처럼 6기 &emsp; 제작자 : 박결 & 김승래 & 이혜민 & 한현수 &emsp; 주소 : 우리들 마음 속 바로 그곳</p>
        <p>열심히 해서 완성하자! 화이팅!</p>
    </div>
</footer>